:root {
    --primary: #301934;
    --primaryHover: #6a0dad;
    }



nav, footer {
    color: white;
    background-color: var(--primary);
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: var(--primaryHover);
}

.bg-img {
    min-height: 90vh;
    height: auto;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../images/homeBackground3.jpg);
}

.bg-img.dashboard{
    min-height: auto;
}

.pageNotReady {
    background-color: white;
    height: 66vh;
}

/* body {
    background-color: var(--primary);
} */

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
.slideUp {
    opacity: 0;
    animation-name: slideUp;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


@keyframes rotateIn {
    0% {
        opacity: 0;
        transform: rotate(360deg) scale(0%);
    }
    100% {
        opacity: 1;
        transform: rotate(0deg) scale(100%);
    }
}
.rotateIn {
    opacity: 0;
    animation-name: rotateIn;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


#loginForm a, #signupForm a {
    color: black;
    text-decoration: none;
}

#loginForm a:hover, #signupForm a:hover {
    text-decoration: underline;
}

/*Pricing page*/
/* Toggle Switch Styling */
.toggle-switch-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 500;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
  margin: 0 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0;
  right: 0; bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 26px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px; width: 20px;
  left: 3px; bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #0d6efd;
}

input:checked + .slider:before {
  transform: translateX(24px);
}


/* Features Page Styles */
.feature-card {
  background-color: #fff;
  transition: transform 0.3s ease;
  border-radius: 12px;
}

.feature-card:hover {
  transform: translateY(-5px);
}

/*.feature-icon img {
  filter: grayscale(100%) brightness(1.2);
}*/

/* Make navbar links white */
.navbar .nav-link {
  color: white !important;
}

/* Get Started button hover effect */
.btn-dark:hover {
  background-color: #000;
  opacity: 0.9;
}

